.jumbotron {
  background-color: #fffa19;
  color: black;
  margin-top: 50px;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: #fffa19;
  margin-top: 40px;
  margin-bottom: 0px;
}
.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.informacion {
  margin-top: 10px;
  margin-bottom: 0px;
}
.footer-address-icon {
  padding-right: 10px;
}
.inicio {
  padding: 0 0 30px 0;
  margin-top: 50px;
}
.tab-content {
  padding-top: 10px;
}
#boton-contacto {
  margin-top: 10px;
  margin-bottom: 0px;
}
