@yellow: #fffa19;


.margenes(@top: 0px, @bottom: 0px) {
    margin-top: @top;
    margin-bottom: @bottom;
}

.jumbotron {
    background-color: @yellow;
    color: black;
    margin-top: 50px;
  }
  
  footer {
    padding: 10px 10px 0 10px;
    background-color: @yellow;
    .margenes(@top: 40px, @bottom: 0px)
  }
  
  .card-hotel {
    flex: 1 200px;
    .margenes(@top: 10px, @bottom: 0px)
  }
  
  .btn-reserva {
    width: 100%;
    border-radius: 0px;
  }
  
  .informacion {
    .margenes(@top: 10px, @bottom: 0px)
  }
  
  .footer-address-icon {
    padding-right: 10px;
  }
  
  .inicio {
    padding: 0 0 30px 0;
    margin-top: 50px;
  }
  
  .tab-content {
    padding-top: 10px;
  }
  
  #boton-contacto{
    .margenes(@top: 10px, @bottom: 0px)
  }